<mat-toolbar style="background-color: rgb(245, 224, 224); ">  
    <input type="checkbox" id="checkbox">
    <label for="checkbox" class="toggle">
        <div class="bar bar--top"></div>
        <div class="bar bar--middle"></div>
        <div class="bar bar--bottom"></div>
    </label>          
    <span style="font-size: xx-large; color: black; margin-left: 50px;">Employee Managment System</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="image" style="color: white;">
    <router-outlet></router-outlet>
</div>